.footer {
    margin-top: 50px;
    padding: 80px  0;
    background-color: #F2F2F2;

    .footer__wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
        font-family: Manrope;

        .footer__box {
            .navbar__logo {
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                p{
                    font-size: 40px;
                    font-weight: 400;
                }
            }
            li a:hover{
                filter: contrast(200%);
                text-decoration: underline;
            }
            li:first-child {
                margin-bottom: 35px;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
            }

            li:nth-child(2) {
                max-width: 222px;
                margin-bottom: 35px;
            }

            li:nth-child(3) {
                color: $gray;
                font-weight: 500;
                margin-bottom: 30px;
                opacity: 50%;
            }

            li:nth-child(4) {
                color: $gray;
                font-weight: 500;
                margin-bottom: 30px;
                opacity: 50%;
            }

            li:nth-child(5) {
                img {
                    max-width: 36px;
                    margin-right: 12px;
                }
            }
        }

        .box {
            p{
                min-height: 33px;
                margin-bottom: 32px;
                font-size: 24px;
                font-weight: 700;
                color: $gray;
            }
            ul{
                display: flex;
                flex-direction: column;
                color: $gray;
                opacity: 50%;
                font-weight: 500;
                gap: 27px;
                li a:hover{
                    filter: contrast(200%);
                    text-decoration: underline;
                }
            }
        }
    }
}



@media (max-width: 1000px) {
    .footer{
        .footer__wrapper{
            grid-template-columns: repeat(2, 1fr);
            gap: 42px;
        }
    }
}

@media (max-width: 600px) {
    .footer{
        .footer__wrapper{
            grid-template-columns: 1fr;
            gap: 32px;
            .footer__box{
                .navbar__logo p{
                    font-size: 20px;
                }
            }
        }
    }
}